# Data wrangling

The data set is available both on Kaggle and at UCI machine learning repository. It required minimum data wrangling, all features are numerically encoded, so for EDA the columns were remapped from numerical values to strings for easier interpretation and visualization. 

There are inconsistencies in the data on the customer repayment statuses. This issue to be investigated further in future work.

There are outliers in the bill amount and payment amount columns, majority of the outliers show the customers who paid much larger or smaller amounts compared to a previous month's bill, or those who have a negative bill amount. All these situations are expected to occur in practice. Visualization of outliers available in the data_strory.ipynb

# Dataset information

This dataset contains information on default payments, demographic factors, credit data, history of payment, 
and bill statements of credit card clients in Taiwan from April 2005 to September 2005.

There are 25 variables:

ID: ID of each client

LIMIT_BAL: Amount of given credit in NT dollars (includes individual and family/supplementary credit

SEX: Gender (1=male, 2=female)

EDUCATION: (1=graduate school, 2=bachelor, 3=high school, 0,4,5,6=other)

MARRIAGE: Marital status (1=married, 2=single, 3=divorce, 0=other)

AGE: Age in years

-2 = Balance paid in full and no transactions this period (we may refer to this credit card account as having been 'inactive' this period)

-1 = Balance paid in full, but account has a positive balance at end of period due to recent transactions for which payment has not yet come due

0 = Customer paid the minimum due amount, but not the entire balance. I.e., the customer paid enough for their account to remain in good standing, but did revolve a balance,

1=payment delay for one month, 
2=payment delay for two months, ... 
8=payment delay for eight months, 
9=payment delay for nine months and above

PAY_0: Repayment status in September, 2005 
PAY_2: Repayment status in August, 2005 (scale same as above)
PAY_3: Repayment status in July, 2005 (scale same as above)
PAY_4: Repayment status in June, 2005 (scale same as above)
PAY_5: Repayment status in May, 2005 (scale same as above)
PAY_6: Repayment status in April, 2005 (scale same as above)

BILL_AMT1: Amount of bill statement in September, 2005 (NT dollar)
BILL_AMT2: Amount of bill statement in August, 2005 (NT dollar)
BILL_AMT3: Amount of bill statement in July, 2005 (NT dollar)
BILL_AMT4: Amount of bill statement in June, 2005 (NT dollar)
BILL_AMT5: Amount of bill statement in May, b2005 (NT dollar)
BILL_AMT6: Amount of bill statement in April, 2005 (NT dollar)

PAY_AMT1: Amount of previous payment in September, 2005 (NT dollar)
PAY_AMT2: Amount of previous payment in August, 2005 (NT dollar)
PAY_AMT3: Amount of previous payment in July, 2005 (NT dollar)
PAY_AMT4: Amount of previous payment in June, 2005 (NT dollar)
PAY_AMT5: Amount of previous payment in May, 2005 (NT dollar)
PAY_AMT6: Amount of previous payment in April, 2005 (NT dollar)

default.payment.next.month: Default payment (1=yes, 0=no)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
%matplotlib inline

# Load dataset
df = pd.read_csv("defaults.csv", header = 1, index_col = 'ID')

# Convert column names to the ones easier to interpret
df.columns = [x.lower() for x in list(df.columns)]
df.columns = ['credit_amount', 'sex', 'education', 'marital_status', 'age', 'pay_sept', 'pay_aug',
       'pay_jul', 'pay_jun', 'pay_may', 'pay_apr', 'bill_amt_sept', 'bill_amt_aug',
       'bill_amt_jul', 'bill_amt_jun', 'bill_amt_may', 'bill_amt_apr', 'pay_amt_sept',
       'pay_amt_aug', 'pay_amt_jul', 'pay_amt_jun', 'pay_amt_may', 'pay_amt_apr',
       'default']

First let's convert the value in columns with amounts in New Taiwanese dollars to thousands, for convenience of showing the values on plots.

In [2]:
for column in ['credit_amount', 'bill_amt_sept', 'bill_amt_aug',
       'bill_amt_jul', 'bill_amt_jun', 'bill_amt_may', 'bill_amt_apr', 'pay_amt_sept',
       'pay_amt_aug', 'pay_amt_jul', 'pay_amt_jun', 'pay_amt_may', 'pay_amt_apr']:
    df[column] = df[column]/1000

We can now remap the numerical codes to strings, so it would be easier to interpret plots and perform EDA.

In [3]:
# Remapping df.sex column
gender_remapping = {1: 'male', 2: 'female'}
df.sex = df.sex.map(gender_remapping)

#Checking the result of remapping
df.sex.value_counts()

female    18112
male      11888
Name: sex, dtype: int64

In [4]:
# checking for all unique values in df.education column before remapping
df.education.value_counts()

2    14030
1    10585
3     4917
5      280
4      123
6       51
0       14
Name: education, dtype: int64

In [5]:
#Remapping df.education column
df.education = df.education.astype(str)
education_remapping = {'1': 'grad_school', '2': 'bachelor', '3': 'high_school', '4': 'other', 
                       '5': 'other', '6': 'other', '0': 'other'}
df.education = df.education.map(education_remapping)

# checking for all unique values after remapping
df.education.value_counts()

bachelor       14030
grad_school    10585
high_school     4917
other            468
Name: education, dtype: int64

In [6]:
# checking for all unique values in df.marital_status before remapping
df.marital_status.value_counts()

2    15964
1    13659
3      323
0       54
Name: marital_status, dtype: int64

In [7]:
#Remapping df.marital_status
df.marital_status = df.marital_status.astype(str)
marital_status_remapping = {'1': 'married', '2': 'single', '3': 'divorce', '0': 'other'}
df.marital_status = df.marital_status.map(marital_status_remapping)

# checking for all unique values after remapping
df.marital_status.value_counts()

single     15964
married    13659
divorce      323
other         54
Name: marital_status, dtype: int64